#root {
    margin: 0;
    text-align: center;
    font-family: Inter;
}

body {
    margin: 0;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;

    img {
        width: 24px;
        margin-right: 7px;
    }

    h1 {
        font-size: 0.9rem;
        font-weight: 500;
    }
}